footer {
  width: 100%;
  background-color: $black;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }

  //   width: 100%;
}
.main-list {
  display: block;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }

  &:last-child {
    // width: 500px;
  }
  &-item {
    color: $white;
    margin-bottom: 60px;
    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: auto;
    }
  }
  &-item:first-child {
    color: $black;
  }

  .base-line {
    text-align: center;
    margin: 0 0 0 0;
    // line-height: 80px;
    margin-bottom: 25px;
    @extend %centr;
    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
    }
  }
  &-item a {
    line-height: inherit;
  }
}
/*==============address================*/
.address-bot {
  &-item {
    display: flex;
    color: $text-color;
    justify-content: center;
    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
    }
  }
  &-item:not(:last-child) {
    margin-bottom: 10px;
  }
  &-link {
    color: $white;
  }
  &-item:first-child {
    flex-wrap: nowrap;

    font-size: 14px;
    line-height: 24px;
  }
}
/*======social============*/
.social-footer {
  display: flex;
  justify-content: center;
}
.circle-bottom {
  @extend %centr;
}
.circle-bottom:hover,
.circle-bottom:focus {
  background-color: $accent-color;
}
.icon-bottom {
  fill: $white;
}

.subscribe-form {
  @extend %centr;
  flex-direction: column;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }

  &-input {
    display: flex;
    outline: none;
    width: 100%;
    max-width: 450px;
    height: 50px;

    padding: 0 0 0 16px;
    margin-bottom: 20px;
    border: 1px solid $text-color;
    border-radius: 4px;
    background-color: $black;
    cursor: pointer;
    font-size: 20px;
    color: $white;
    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
      margin: 0 15px 0 0;
      width: 355px;
    }
  }
  &-placeholder-wrapper {
    display: flex;
    width: 100%;
    max-width: 450px;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  &-placeholder {
    position: absolute;
    left: 16px;
    transform: translateY(100%);
    font-size: 16px;
    color: $text-color;
    opacity: 1;
  }

  &-input:focus-within + &-placeholder,
  &-input:not(:placeholder-shown) + &-placeholder {
    opacity: 0;
  }

  &-wrapper {
    position: relative;
    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;

    padding: 0;
    margin-bottom: 60px;

    border-radius: 4px;
    border: none;
    background-color: $accent-color;
    color: $white;
    cursor: pointer;
    outline: none;
    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }
  &-icon {
    position: absolute;
    left: 155px;
    width: 24px;
    height: 24px;
    background-image: url(../image/icon_send.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &-title {
    position: absolute;
    left: 50px;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
  }
}
